*{
    margin: 0;
    padding: 0;
}
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#main{
    background-color: whitesmoke;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#main-logo-forms{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    width: 50%;
}
#forms-desc{
    width: 45%;
}
#forms{
    background-color: white;
    border-radius: 5px;
    padding: 4%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#forms form{
    display: flex;
    flex-direction: column;
}
#email{
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1%;
}
#password{
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1%;
}
#submit-btn{
    color: white;
    background-color: rgb(44, 90, 240);
    margin-top: 3%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2%;
}
#logo h1{
    color: rgb(33, 64, 240);
    font-size: 40px;
}
#pword-reset{
    border: 1px solid lightgrey;
    color: rgb(44, 90, 240);
    background: white;
    border-radius: 5px;
    width: 100%;
    margin-top: 3%;
    cursor: pointer;
    padding: 2%;
}
#create-acc{
    border: none;
    color: white;
    background: rgb(116, 173, 31);
    border-radius: 5px;
    width: 70%;
    display: block;
    margin: 3% auto 0;
    cursor: pointer;
    padding: 2%;
}
#desc{
    text-align: center;
    margin-top: 2%;
}
#footer{
    background: white;
    font-family: "Roboto", sans-serif;
    color: grey;
    font-size: 13px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#footer p{
    margin-top: 5px;
}
#footer hr{
    margin-top: 5px;
}
#footer a{
    text-decoration: none;
    color: grey;
}
#footer a:hover{
    text-decoration: underline;
}
