.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.description {
  font-size: 14px;
  flex-grow: 1;
}

.price {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

.rating {
  color: orange;
  margin-bottom: 10px;
}

.btn {
  text-decoration: none;
  text-align: center;
  padding: 8px;
  background: rgba(255, 0, 0, 0.705);
  color: white;
  border-radius: 6px;
}
#wa-btn{
    margin-top: 2%;
    border: none;
    border-radius: 6px;
    background-color: rgba(64, 255, 47, 0.678);
    padding: 2%;
    cursor: pointer;
}
#tg-btn{
    margin-top: 2%;
    border: none;
    border-radius: 6px;
    background-color: rgb(47, 144, 255);
    padding: 2%;
    cursor: pointer;
}