*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
header{
    background-color: rgba(0, 0, 0, 0.842);
    padding: 1%;
}
header h1{
    color: grey;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#new-task{
    display: flex;
    gap: 20px;
    margin-top: 1%;
}
#new-task input{
    width: 400px;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid grey;
}
#new-task input:focus{
    box-shadow: 0 0 0 1px deepskyblue;
    border: 1px solid deepskyblue;
    outline: none;
}
#new-task button{
    border: none;
    padding: 2%;
    background-color: deepskyblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
}
#tasks{
    margin-top: 2%;
    width: 600px;
}
.task{
    width:100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2%;
    margin-top: 2px;
    display: flex;
    align-items: center; 
}
.task input{
    cursor: pointer;
}
.task label{
    margin-left: 5px;
}
.task button{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: none;
    margin-left: auto;
    background-size: cover;
    background-image: url("delete.png");
    background-color: white;
}